@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  font-size: 10px;
}

* ,
Bungkus ,
.gt {
  background-color: rgba(154,227,236,0.879);
}

.header ,
.header h1 ,
nav ,
nav ul ,
nav ul li ,
a ,
img ,
.header .gambar ,
.container ,
p ,
.gtau , 
h2 {
  background-color: rgb(103,216,245);
}

/* Header */

.header {
  width: 300px;
  height: 70px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
}

.header h1 {
  font-size: 2.4rem;
  font-family: Monospace;
  text-shadow: 1px 2px 0 rgba(150,150,150,0.514);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 6px;
  margin-left: 1.2rem;
  margin-top: 7px;
  font-size: 1.4rem;
  background-color: rgb(60,48,244);
  border-radius: 4px;
}

.header .gambar img {
  width: 4rem;
  height: 4.4rem;
  padding: 10px;
  border-radius: 20px;
}

nav ul li a ,
.iya {
  text-decoration: none;
  color: white;
  background-color: rgb(60,48,244);
  transition: .3s;
  font-family: 'Roboto Condensed', sans-serif;
}

nav ul li a:hover {
  font-weight: bold;
}
/* Akhir Header */

/* Content */
.container {
  height: 760px;
  margin: 50px auto;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(51,51,51,0.434);
}

p {
  padding: 10px;
  font-size: 11px;
  font-family: Monospace;
}

.harith {
  width: 125px;
  height: 140px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

hr {
  width: 120px;
  height: 3px;
  background-color: black;
  box-shadow: 1px 1px 3px 0 rgba(135,151,155,0.814);
}

/* Tabel */

.tabung {
  text-align: center;
}

table {
  margin: 0 5px 20px auto;
}

/* Akhir Tabel /*

/* Content 2 */
.Bungkus {
  width: 130px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 0 black;
  margin: 10px auto;
  overflow: hidden;
}

h2 {
  text-align: center;
  background-color: rgba(154,227,236,0.879);
}

.gt {
  width: 4.4rem;
  height: 4.7rem;
  margin: 10px;
} 

.iya {
  position: relative;
  bottom: 52px;
  left: 55px;
  padding: 5px;
  border-radius: 5px;
  display: block;
  width: 45px;
  font-size: 9px;
}

.iya:hover {
  font-weight: 700;
  padding-left: 20px;
}

.gt.w {
  margin-bottom: -20px;
}

.gt.f {
  margin-bottom: -20px;
}

#w ,
#f {
  position: relative;
  bottom: 35px;
}

#g {
  position: relative;
  bottom: 5px;
}

/* Akhir Content  */

/* Footer */

marquee {
  font-size: 2rem;
}

/* Akhir Footer */

@media (min-width: 760px) {
  
  .header {
  width: 879px;
  height: 100px;
  }
  
  
.header h1 {
  font-size: 3.5rem;
}

nav ul li {
  padding: 20px;
  margin-left: 3rem;
  position: relative;
  left: 380px;
  font-size: 2.2rem;
}

.header .gambar img {
  width: 5.5rem;
  height: 6rem;
  padding: 15px;
  border-radius: 20px;
}

.container {
  height: 1400px;
  width: 900px;
}

p {
  padding: 15px;
  font-size: 2.6rem;
}

.harith {
  width: 325px;
  height: 340px;
  margin: 25px;
}

table {
  display: none;
}

h2 {
  font-size: 3.5rem;
}

hr {
  width: 270px;
  height: 5px;
}

.Bungkus {
  width: 330px;
  height: 410px;
  margin: 15 auto;
}

.gt {
  width: 6.6rem;
  height: 6.9rem;
  margin: 5px;
} 


.iya:hover {
  font-weight: 700;
  padding-left: 85px;
}

.iya {
  bottom: 72px;
  left: 85px;
  padding: 7px;
  width: 95px;
  font-size: 24px;
}

marquee {
  font-size: 4rem;
}

}

@media (min-width: 1000px) {
  * {
    display: none;
  }
}@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  font-size: 10px;
}

* ,
Bungkus ,
.gt {
  background-color: rgba(154,227,236,0.879);
}

.header ,
.header h1 ,
nav ,
nav ul ,
nav ul li ,
a ,
img ,
.header .gambar ,
.container ,
p ,
.gtau , 
h2 {
  background-color: rgb(103,216,245);
}

/* Header */

.header {
  width: 300px;
  height: 70px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
}

.header h1 {
  font-size: 2.4rem;
  font-family: Monospace;
  text-shadow: 1px 2px 0 rgba(150,150,150,0.514);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 6px;
  margin-left: 1.2rem;
  margin-top: 7px;
  font-size: 1.4rem;
  background-color: rgb(60,48,244);
  border-radius: 4px;
}

.header .gambar img {
  width: 4rem;
  height: 4.4rem;
  padding: 10px;
  border-radius: 20px;
}

nav ul li a ,
.iya {
  text-decoration: none;
  color: white;
  background-color: rgb(60,48,244);
  transition: .3s;
  font-family: 'Roboto Condensed', sans-serif;
}

nav ul li a:hover {
  font-weight: bold;
}
/* Akhir Header */

/* Content */
.container {
  height: 760px;
  margin: 50px auto;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(51,51,51,0.434);
}

p {
  padding: 10px;
  font-size: 11px;
  font-family: Monospace;
}

.harith {
  width: 125px;
  height: 140px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

hr {
  width: 120px;
  height: 3px;
  background-color: black;
  box-shadow: 1px 1px 3px 0 rgba(135,151,155,0.814);
}

/* Tabel */

.tabung {
  text-align: center;
}

table {
  margin: 0 5px 20px auto;
}

/* Akhir Tabel /*

/* Content 2 */
.Bungkus {
  width: 130px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 0 black;
  margin: 10px auto;
  overflow: hidden;
}

h2 {
  text-align: center;
  background-color: rgba(154,227,236,0.879);
}

.gt {
  width: 4.4rem;
  height: 4.7rem;
  margin: 10px;
} 

.iya {
  position: relative;
  bottom: 52px;
  left: 55px;
  padding: 5px;
  border-radius: 5px;
  display: block;
  width: 45px;
  font-size: 9px;
}

.iya:hover {
  font-weight: 700;
  padding-left: 20px;
}

.gt.w {
  margin-bottom: -20px;
}

.gt.f {
  margin-bottom: -20px;
}

#w ,
#f {
  position: relative;
  bottom: 35px;
}

#g {
  position: relative;
  bottom: 5px;
}

#warna , i {
  background-color: #9aa4a6b5;
}
/* Akhir Content  */

/* Footer */

marquee {
  font-size: 2rem;
}

/* Akhir Footer */

@media (min-width: 760px) {
  
  .header {
  width: 879px;
  height: 100px;
  }
  
  
.header h1 {
  font-size: 3.5rem;
}

nav ul li {
  padding: 20px;
  margin-left: 3rem;
  position: relative;
  left: 380px;
  font-size: 2.2rem;
}

.header .gambar img {
  width: 5.5rem;
  height: 6rem;
  padding: 15px;
  border-radius: 20px;
}

.container {
  height: 1400px;
  width: 900px;
}

p {
  padding: 15px;
  font-size: 2.6rem;
}

.harith {
  width: 325px;
  height: 340px;
  margin: 25px;
}

table {
  display: none;
}

h2 {
  font-size: 3.5rem;
}

hr {
  width: 270px;
  height: 5px;
}

.Bungkus {
  width: 330px;
  height: 410px;
  margin: 15 auto;
}

.gt {
  width: 6.6rem;
  height: 6.9rem;
  margin: 5px;
} 


.iya:hover {
  font-weight: 700;
  padding-left: 85px;
}

.iya {
  bottom: 72px;
  left: 85px;
  padding: 7px;
  width: 95px;
  font-size: 24px;
}

marquee {
  font-size: 4rem;
}

}

@media (min-width: 1250px) {
  * {
    display: none;
  }
}

